/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*CSS*/

:root {
  --accent-color: #faaa1f;
  --text-color: #3b3939;
  --accent-color-filter:invert(78%) sepia(69%) saturate(2724%) hue-rotate(344deg)
  brightness(104%) contrast(96%);
}

* {
  font-family: rubik;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr 1fr;
  height: 100vh;
}

header {
  display: grid;
  background-color: rgb(255, 255, 255);
  grid-area: 1 / 2 / 2 / 3;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 2fr;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 4em;
  box-shadow: 0 7px 8px -8px rgb(112, 108, 108);
  z-index: 1;
}

p {
  color: var(--text-color);
}

#side-nav {
  background-color: var(--accent-color);
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 3fr 5fr;
  padding: 2rem;
}

#side-nav * {
  color: white;
}

#sidebar {
  display: grid;
  grid-template-rows: 1rem 1fr 1rem 1fr;
  grid-area: 1 / 2 / 3 / 3;
  gap: 24px;
}

main {
  background-color: rgb(237, 241, 237);
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 12px;
  padding: 3%;
}

article {
  grid-area: 1 / 1 / 3 / 2;
}

.article-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 30%));
  gap: 24px;
}

#projects-heading {
  padding-bottom: 1rem;
}

.card {
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-left: solid 12px var(--accent-color);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  flex: 1;
}

.card-icon-container {
  display: flex;
  justify-content: flex-end;

  gap: 1em;
}

.card-icon {
  width: 24px;
  cursor: pointer;
}

.card-icon:hover {
  filter:var(--accent-color-filter);
}

.user-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.side-card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  min-height: 20%;
  padding: 2rem;
  display: grid;
  font-size: 14px;
}

.side-card-content {
  padding: 10px;
  border-bottom: solid 1px rgba(153, 148, 148, 0.63);
}

#last-side-card-content {
  border-bottom: none;
}

.search {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
}

.user-widget {
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: flex-end;
}

#logo-container {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-bottom: 3rem;
}

.fullname {
  font-weight: 500;
}

.profile-pic-small {
  width: 3em;
}

.profile-pic-large {
  width: 4em;
}

.website-logo {
  width: 5em;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.text-container {
}

.card-shadow {
  box-shadow: 2px 2px 8px 2px rgba(129, 125, 125, 0.616);
}

#greeting-container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
}

#search-bar {
  width: 90%;
  padding: 6px;
  border-radius: 50px;
  border: 0;
  background-color: rgb(209, 209, 209);
}

.icon {
  width: 25px;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1em;
  font-weight: 500;
  text-decoration: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.white-filter {
  filter: invert(93%) sepia(100%) saturate(1%) hue-rotate(175deg)
    brightness(105%) contrast(101%);
}

.github-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-card, .notifications, .fullname, .profile-pic-small {
  cursor: pointer;
}

footer {
  background-color: #3b3939;
  grid-area: 3/ 1 / 4 /3;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 500;
}

a {
  text-decoration: none;
  color:white;
}



button {
  padding: 10px;
  width: 100px;
  border-radius: 50px;
  border: 0px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background-color: #ba4c2e;
  cursor: pointer;
}
